* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

.top_100-8 {
    top: calc(100% + 8px);
}

.avt ul {
    transform-origin: top right;
    animation: scale ease-in 0.1s;
}

.navIcon ul {
    animation: scale ease-in 0.1s;
    transform-origin: top right;
}

.navIcon:hover ul {
    display: flex;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.avt:hover ul {
    display: block;
}

.avt ul::before {
    content: "";
    height: 8px;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
}

@media screen and (max-width: 1070px) {
    .nav {
        display: none;
    }

    .navIcon {
        display: block;
    }
}

@media screen and (min-width: 741px) and (max-width: 1070px) {
    .textFooterCenter {
        display: none;
    }

    .contentFooter {
        justify-content: space-around;
    }
}

@media screen and (max-width: 740px) {

    .searchIcon,
    .socialFooter,
    .textFooterCenter {
        display: none;
    }

    .contentFooter {
        justify-content: center;
    }

    .contentWrapper {
        flex-direction: column;
        padding: 0 8px;
    }

    .option {
        margin: 10px 0;
    }

    .rank {
        margin: 10px 0;
    }

    .container {
        height: 100vh;
    }
}

@media screen and (max-width: 320px) {
    .avt {
        margin-left: 8px;
    }

    .logoIcon {
        font-size: 36px;
    }

    .logoName {
        font-size: 32px;
    }

    .navIcon {
        font-size: 32px !important;
    }
}

@media screen and (max-width: 280px) {
    .logoIcon {
        font-size: 36px;
    }

    .logoName {
        font-size: 26px;
    }

    .navIcon {
        font-size: 24px !important;
    }
}